<!doctype html>
<html lang="en">
    {{ partial "partials/shared/head.html" . }}
    <body class="overflow-hidden">
        <div class="overflow-scroll vh-100">
            <div class="container" style="margin-bottom: 75px;">
                <h2 class="text-primary">{{ .Title }} <i>({{ .Type }}, {{ .Layout }})</i></h2>
                <div class="col-lg-8 col-md-7 col-sm-6" id="mainContent">
                    {{ block "main" .}}
                    ~ No Content ~
                    {{ end }}
                </div>
            </div>
        </div>
        {{ partial "partials/footer.html" . }}
        {{ partial "partials/shared/scripts.html" . }}
    </body>
</html>