{{ define "main" }}
    <div class="container">
        {{ if gt (.Content | len) 0 }}
            <div class="container lead my-3">
                {{ .Content }}
            </div>
        {{ end }}
        <div class="list-group d-grid gap-2 border-0">
            {{ range .Site.Sections }}
                <label class="list-group-item rounded-3 py-3 gy-3 bg-primary-subtle" for="listGroupCheckableRadios1">
                    <span class="d-block small">
                        <a class="icon-link icon-link-hover" 
                            style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" 
                            href="{{ .Slug }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection" viewBox="0 0 16 16">
                                <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5z"/>
                              </svg>
                            {{ .LinkTitle }}
                          </a> - <i>{{ .Params.subtitle }}</i>
                    </span>
                </label>          
            {{ end }}
          </div>        
    </div>

{{ end }}