{{ define "main" }}
    <div class="container">
        {{ if gt (.Content | len) 0 }}
            <div class="container lead my-3">
                {{ .Content }}
            </div>
        {{ end }}
        <div class="list-group gap-2 border-0">
            {{ range .Pages }}
                {{ $keywords := delimit .Keywords ";"}}
                {{ $link := cond (isset .Params "redirect_url") .Params.redirect_url .RelPermalink }}
                {{ $target := cond (isset .Params "redirect_url") "_new" ""}}
                <a class="list-group-item py-3 gy-3 bg-primary h6" href="{{ $link }}" target="{{ $target }}">
                    {{ if .IsSection }}
                    <span class="icon-link icon-link-hover" 
                        style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                        {{ partial "icon" (dict "type" "collection") }} {{ .LinkTitle }} - <i>{{ .Params.subtitle }}</i>     
                    </span>                    
                    {{ else }}
                    <span class="icon-link icon-link-hover" 
                        style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                        {{ partial "icon" (dict "type" $keywords) }} {{ .LinkTitle }} - <i>{{ .Params.subtitle }}</i>     
                    </span>                       
                    {{ end }}
                </a>          
            {{ end }}
          </div>        
    </div>

{{ end }}