{{ $items := unmarshal .Inner }}
{{ $rootUrl := .Site.GetPage "/" }}

<div class="container">
  <div id="carouselControl" class="carousel slide">
    <div class="carousel-inner">
      {{ range $index, $item := $items}}
        {{ $is_active := cond (eq $index 0) "active" ""}}
        <div class="carousel-item {{ $is_active }}">
            <div style="height: 400px; overflow: hidden;">
              <img src="{{ $item.path }}" class="w-100" alt="..."> 
            </div>
            <div class="p-2 bg-primary text-center">
              <h5>Slide {{ add $index 1 }}</h5>
              <p>{{ $item.caption }}</p>
            </div>         
        </div>
    {{ end }}      
    </div>
    <button class="carousel-control-prev bg-primary" style="height:100px; margin-top:150px" type="button" data-bs-target="#carouselControl" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="">Previous</span>
    </button>
    <button class="carousel-control-next bg-primary" style="height:100px; margin-top:150px" type="button" data-bs-target="#carouselControl" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="">Next</span>
    </button>
  </div>
</div>