{{ $states := unmarshal .Inner }}

<div class="">
    <table class="table">
        <thead>
          <tr class="table-secondary">
            <th scope="col">#</th>
            <th scope="col">State</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
           {{ range $index, $state := $states}}
            <tr class="table-primary">
                <th scope="row">{{ add $index 1 }}</th>
                <td>{{ $state.abbreviation }}</td>
                <td>{{ $state.name }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
</div>